
.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.experiencias {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 18px;
}

.experiencia {
    background-color: #ccc;
    padding: 16px;
}

.experiencia .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.experiencia .autor {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}
