.historia {
    font-size: 18px;
}

.novedad {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.novedades {
    display: flex;
    justify-content: space-between;
}

.novedad img {
    border-radius: 1%;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
